<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>CV</title>
</head>
<body>
    <header>
        <section class="banner">
            <!--<img class="banner__img" src="../img/desk.png">-->
            <div class="banner__info">
                <h1 class="titularPrincipal">CURRICULUM VITAE DE SOL ANDRADE</h1>
                
            </div>
        </section>
        <div class="img">
            <!--<img src="../img/panda.png" alt="Profile Photo">-->
        </div>
        <!--<div class="titularPrincipal">
            <h1>CURRICULUM VITAE DE SOL ANDRADE</h1>
        </div>-->
        
        <br>
        <br>
        
    </header>
    <main>
        <div class="titular">
            <h3>DATOS PERSONALES</h3>
        </div>
        
        <ul>
            <li>Nombre completo: Sol Nicole Andrade</li>
            <li>Fecha de Nacimiento: 07/07/2004</li>
            <li>Lugar de nacimiento: Buenos Aires</li>
        </ul>
        <br>
        <div class="titular">
            <h3>FORMACIÓN ACADÉMICA</h3>
        </div>
        <p>2018-2020: Desarrollo de videojuegos con Unity</p>
        <p>2015-2019: Colegio secundario San Patricio</p>
        <br>
        <div class="titular">
            <h3>EXPERIENCIA LABORAL</h3>
        </div>
        
        <p>none</p>
    </main>
    <footer>

    </footer>
</body>
</html>
